In [2]:
df.head()

     id                                        description  ratingCategory
0  1321  \nSometimes, when whisky is batched, a few lef...               1
1  3861  \nAn uncommon exclusive bottling of a 6 year o...               0
2   655  \nThis release is a port version of Amrut’s In...               1
3   555  \nThis 41 year old single cask was aged in a s...               1
4  1965  \nQuite herbal on the nose, with aromas of dri...               1

In [3]:
df['description'] = df['description'].replace("\n", "")

In [4]:
df.head()

     id                                        description  ratingCategory
0  1321  \nSometimes, when whisky is batched, a few lef...               1
1  3861  \nAn uncommon exclusive bottling of a 6 year o...               0
2   655  \nThis release is a port version of Amrut’s In...               1
3   555  \nThis 41 year old single cask was aged in a s...               1
4  1965  \nQuite herbal on the nose, with aromas of dri...               1